.Pokedex-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Pokedex-heading{
    text-align: center;
}

.Pokedex-title {
    font-family:'Courier New', Courier, monospace;
    font-size: 
    

}

.Pokedex-exp{

}

.Pokedex-winner{
    color: green;
}

.Pokedex-loser{
    color: red;
}

